.container {
  width: 95%;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px 10px 20px;
}

.leftContent {
  width: 65%;
}

.leftTitle {
  color: #6c63ff;
  font-size: 43px;
  margin-bottom: 10px;
}

.leftText {
  color: rgba(0, 0, 0, 0.575);
  font-family: sans-serif;
  line-height: 25px;
  padding-right: 60px;
}

@media (max-width: 978px) {
  .container {
    flex-direction: column;
    justify-content: center;
  }

  .leftContent {
    width: 90%;
  }

  .rightContent {
    display: none;
  }
}